{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Category
{% endblock %}

{% block main-content %}

    <div class="container my-5">

        <div class="col-sm-6 offset-sm-3">
            <div class="row my-3">

                <div class="col-sm-9 offset-sm-1 text-center">
                    <div>
                        <iframe src="https://giphy.com/embed/ibolLe3mOqHEJPQTtk" width="200" height="200"
                                frameborder="0"
                                class="giphy-embed" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}