{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Category
{% endblock %}

{% block main-content %}

        <div class="container my-5">

        <div class="row">

            <h5>Welcome <span class="text-capitalize">
                    {{ request.user }}
                </span>
            </h5>
        </div>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Chamge password done</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password changed succesfully</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHEJPQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>

    </div>

{% endblock %}